/* DIGITAL template stylesheet

	graphic design: Discmakers design team (www.discmakers.com)
	interactive design, coding, additional graphics: Andrew Tay (www.andrewtay.com) June 2009
	
	VARIATION FILE: all unique colors and images for this variation are given at the end of the file for 
						 ease of	maintenance, overriding earlier settings.
	
*/

/* --- GLOBAL PAGE SETTINGS --------------------------------------------------------- */
         
/* --- GENERAL PAGE LAYOUT -------------------------------------------------------------- */


/* ACCESSIBILITY */			

/* This is the band logo */			
#accessibility {
position: absolute;
top: 85px;
left: 50%;
margin-left: -455px;
width: 190px;
height: 150px;


text-indent: -9999px;
z-index: 400;
}	


/* CONTAINER */
            
#container {
position: relative;			/* this serves as a reference for #banner */
width: 970px;
margin: 0 auto;
  }

  
  
#banner img{
    position: absolute;
    width: 200px;
    background: #D9D9D9;
    padding: 20px;
    border-radius: 15px;
}

/* CONTENT */
            
#content {
min-height: 350px;
margin: 0 0 0 245px;
padding: 1px 35px 15px 30px;		/* padding-top: 1px prevents margin collapsing */
background: #D9D9D9;
border-radius: 0 0 15px 15px;
}
	




/* FOOTER */

#footer 	{
    width: 100%;
    background: rgba(217,217,217, .5);
    margin-top: 30px;



}
#footer p {
    width: 658px;
    color: #666 !important;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    }

      
/* --- Text Styles & Minor Placement Adjustments ------------------------------- */

body {
color: black;

}

h1 {
color: #203a55;
margin-top: 0;			/* for browser consistency */
font: italic bold 20px Verdana, Arial, sans-serif;
border-bottom: 1px solid #8da7ab;	
padding-bottom: 3px;
}

h2, h3, h4 {
font-weight: bold;
}

h2	{
text-transform: uppercase;
color: #20325b;
font-size: 1.25em;
}

h3 {
color: #576476;
font-size: 1.1em;
}

p, .notes {
line-height: 1.2;
}

#footer p {
color: white;
font-weight: bold;
text-transform: uppercase;
}	


/* --- Link Styling & Form Elements ------------------------------------------------ */

/* general links */
a				{font-weight: bold;}
a:link 		{color: #72888c;}	
a:visited	{color: #8ba5aa;}
a:hover 		{color: #596d80;}	
a:active		{color: white;}
    


/* --- PAGE-SPECIFIC STYLES --------------------------------------------------------------------------------- */

/* SPLASH */
#splashimage 			{text-align: center; margin: 100px auto;}
#splashimage a img 	{border: 0;} 			

/* HOME */
.home img {
display: block;
margin: 1em 0;
}

/* LINKS */
.links h3 {
font-style: normal;
}	
.links dl {
margin-left: 20px;
}

/* PRESS */

.press .entry {
}
.press .entry .caption {
    text-align: right;
    margin-right: 75px;
    font-style: italic;
    }
    
/* PHOTOS */
.photos dt	{
font-weight: bold;
font-size: 1.15em;
margin: 0 0 0.8em 0; 
}	
.photos dd	{
margin: 0 0 1.7em 0; 
padding: 0;
}	

/* MUSIC */
.music .details .artist {
color: black;
font-weight: bold;
}

/* --- VARIATION ------------------------------------------------------------------------------------------- */
/* --- VARIATION ------------------------------------------------------------------------------------------- */


/* --- Text Styles & Minor Placement Adjustments ------------------------------- */

body {
color: black;
font: 11px Verdana, Arial, sans-serif;
}

h1 {
color: #8e0b02;
border-bottom: 1px solid #c71a0f;	
}
h2	{color: #666;}
h3 {color: #d71915;}

/* --- Link Styling & Form Elements ------------------------------------------------ */

/* general links */
a				{font-weight: bold; }
a:link 		{color: #b9180e;}	
a:visited	{color: #c7605a;}
a:hover 		{color: #e10d00;}	
a:active		{color: white;}
    
body{
    background: url(/images/reflection.jpg) fixed no-repeat;
    background-size: cover;
}